@media only screen and (min-width: 601px) {
  .container {
    width: 90%;
  }
}

/* Set theme color */
.btn,
.btn-floating {
  background-color: #1565c0;
}
.page-footer,
.nav-wrapper,
.statusbar,
.nav-content {
  background-color: white;
}
.input-field,
.input-field > label,
.input-field > .material-icons,
.dropdown-content > li > a,
.secondary-content > .material-icons {
  color: #1a237e;
  font-weight: bold;
}
.tabs.tabs-transparent .tab a,
nav ul a {
  /* font-weight: bold; */
  color: black;
}
a,
.primary-text {
  color: #1a237e;
}
.markdown ul {
  padding-left: 20px;
}
.markdown ul > li {
  padding-left: 20px;
  list-style-type: disc;
}
.leaflet-top,
.leaflet-bottom {
  z-index: 950;
}

/* styles for '...' */
.block-with-text {
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative;
  /* use this value to count block height */
  line-height: 1.2em;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 3.6em;
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;

  /* */
  margin-right: -1em;
  padding-right: 1em;
}
.block-with-text:before {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}
.block-with-text:after {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  width: 1em;
  /* set width and height */
  height: 1em;
  margin-top: 0.2em;
  background: white;
}
.sidenav {
  top: 66px;
}
.buttons a {
  margin: 5px 0;
}
.buttons {
  padding: 0 20px;
}

/* print styles */
@media print {
  html,
  body {
    font-size: 14px;
  }
  body {
    margin: 0;
    color: #000;
    background-color: #fff;
  }
  a[href^='http']::after {
    content: ' (' attr(href) ')';
  }
  .leaflet-container,
  img,
  pre,
  blockquote {
    page-break-inside: avoid;
    page-break-before: auto; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
    page-break-after: auto; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
    page-break-inside: avoid; /* or 'auto' */
  }
  main::after {
    content: 'Copyright DRIVER+';
    display: block;
    text-align: center;
  }
  .do-not-print,
  header,
  footer,
  aside,
  nav,
  form,
  iframe,
  .menu,
  .hero,
  .adslot {
    display: none;
  }
}

.margin-top7 {
  margin-top: 7px;
}
.inline {
  display: inline-block;
  margin: 0 1rem;
}
ul.list-inline li {
  display: inline;
}
.markdown p {
  color: black;
  font-weight: normal;
}
.markdown.squeeze p {
  margin: 0;
}

.repeat-list .pagination {
  margin: 0;
}
.incident-view {
  margin-bottom: 0;
  position: absolute;
  top: 65px;
  left: -10px;
  width: 100vw;
}
.card-panel {
  cursor: pointer;
  padding: 0 20px;
  margin: 0.5rem 0 0.5rem 0;
}
.card-panel.xl {
  height: 41.5vh;
}
.card-panel.large {
  height: 200px;
}
.card-panel.medium {
  height: 125px;
}
.card-panel.small {
  height: 75px;
}
.widget {
  position: relative;
}
.widget ul {
  margin: 0px;
}
.widget-link {
  display: none;
}
.widget:hover .widget-link {
  display: block;
}
.bold {
  font-weight: bold;
}
.subject {
  position: absolute;
  width: 42px;
  /* height: 42px; */
  overflow: hidden;
  left: 15px;
  display: inline-block;
  vertical-align: middle;
}
ul.collection.objects,
ul.collection.subjects {
  max-height: 160px;
  overflow-y: auto;
}

ul.updates {
  max-height: 70px;
  overflow-y: auto;
}

ul.measures {
  max-height: 170px;
  overflow-y: auto;
}

li.collection-item:first-child {
  background-color: white; /* should be the same as the background color behind the list */
  position: fixed;
}

/* Begin scrollbar */

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Eind scrollbar */

.radio {
  margin-top: 2rem;
}
.material-placeholder {
  z-index: 1999;
}
.materialbox-overlay {
  z-index: 2000;
}
.incident-view .leaflet-container {
  height: 200px !important;
}
#map-page .leaflet-container {
  width: 100vw;
  margin-left: -130px;
  margin-bottom: -65px;
  height: 91vh !important;
}

.material-icons.hoverable {
  text-align: center;
  cursor: pointer;
}
.material-icons.hoverable:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.card-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.comment {
  background-color: lightgrey;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
}

.comment-text p {
  margin: 0;
}

/** Tooltips */
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext {
  width: 150px;
  margin-left: -75px; /* Use half of the width to center the tooltip */
  top: 100%;
  left: 50%;
}
/** End Tooltips */
